:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-1o70: #213547af;
  --bg-1: #213547;
  --bg-2: #243342;
  --font-1: #f5f5f5;
  --font-2: #bebbbb;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* display: flex; */
  /* place-content: center; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--bg-1);
  color: var(--color-2);
  height: fit-content;
  padding: 7px 12px;
  border-radius: 0.25em;
  border: 1px solid #254b6c6b;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  user-select: none;
}

button.outline {
  background-color: transparent;
  color: var(--font-1);
}

button:hover {
  background-color: var(--bg-2);
  color: var(--font-2);
  box-shadow: none;
}

/* 
/*  */
/* 
/*  */

.card {
  --tw-shadow-color: rgba(188, 25, 25, 0.25);
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  --tw-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.02) inset, 0px 0px 0px 1px hsla(0, 0%, 100%, 0.02) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: inset 0px 1px 0px 0px var(--tw-shadow-color), inset 0px 0px 0px 1px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color);
}

/* 
/*  */
/* 
/*  */
/* 
/*  */

body {
  container-type: size;
  container-name: body-pill;
}

/* SM */
@container body-pill (width < 768px) {
  .debug-screen-pill > span:nth-of-type(4):after {
    content: "SM";
  }

  /* FIRST SPAN :BEFORE ELEMENT*/
  .debug-screen-pill > span:nth-of-type(1):before {
    content: "<768";
  }

  /* THIRD SPAN :BEFORE ELEMENT*/
  .debug-screen-pill > span:nth-of-type(3):before {
    content: "?";
  }
}

/* MD */
@container body-pill (width > 768px) {
  .debug-screen-pill > span:nth-of-type(4):after {
    content: "MD";
  }

  /* FIRST SPAN :BEFORE ELEMENT*/
  .debug-screen-pill > span:nth-of-type(1):before {
    content: ">768";
  }

  /* THIRD SPAN :BEFORE ELEMENT*/
  .debug-screen-pill > span:nth-of-type(3):before {
    content: "?";
  }
}

/* LG */
@container body-pill (width > 1024px) {
  .debug-screen-pill > span:nth-of-type(4):after {
    content: "LG";
  }
  .debug-screen-pill > span:nth-of-type(1):before {
    content: ">1024";
  }
  .debug-screen-pill > span:nth-of-type(3):before {
    content: "?";
  }
}

/* XL */
@container body-pill (width > 1280px) {
  .debug-screen-pill > span:nth-of-type(4):after {
    content: "XL";
  }
  .debug-screen-pill > span:nth-of-type(1):before {
    content: ">1280";
  }
  .debug-screen-pill > span:nth-of-type(3):before {
    content: "?";
  }
}

/* 2XL */
@container body-pill (width > 1536px) {
  .debug-screen-pill > span:nth-of-type(4):after {
    content: "2XL";
  }
  .debug-screen-pill > span:nth-of-type(1):before {
    content: ">1536";
  }
  .debug-screen-pill > span:nth-of-type(3):before {
    content: "?";
  }
}

/* WRAPPER */
.debug-screen-pill {
  position: fixed;
  bottom: 1.25rem;
  left: 1.25rem;
  z-index: 50;
  /* */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 0rem;
  height: fit-content;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  /* */
  font-family: monospace;
  font-weight: 500;
  /* */
  border-radius: 9999px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(148, 148, 148, 0.308);
  color: white;

  /* ODD SPAN CONTENT ARE NUMBERS */
  & > span:nth-child(odd):before {
    font-variant-numeric: tabular-nums;
  }
}

/* FIRST SPAN :BEFORE ELEMENT*/
/* .debug-screen-pill > span:nth-of-type(1):before {
  content: "123";
} */

/* THIRD SPAN :BEFORE ELEMENT*/
/* .debug-screen-pill > span:nth-of-type(3):before {
  content: "321";
} */

/* LAST SPAN :BEFORE ELEMENT */
/* .debug-screen-pill > span:nth-of-type(4):before {
  content: "XL";
} */

/* THIRD SPAN, :AFTER ELEMENT */
.debug-screen-pill > span:nth-of-type(4):before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  width: 1px;
  background: #242424;
  transform: translateX(-500%);
}

/* LAST SPAN */
.debug-screen-pill > span:nth-of-type(4) {
  padding-left: 0.5rem;
}
